@charset "UTF-8";

/* /*共通部分 */
html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue","Arial","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo、sans-serif";
  
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.site-title {
  position: absolute;
  padding: 0 16px;
  top: 45%;
  text-align: center;
  left: 0;
  right: 0;
  filter: drop-shadow(1px 1px 10px #c0c0c0);
}

.logo-title {
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 6.7rem;
}

.part-title {
  font-size: 4.0rem;
  margin-bottom: 7.0rem;
  display: inline-block;
  border-bottom: solid 6px red;
}

.fixed-img {
  background-attachment: fixed;
  height: 300px;
  background-position: center;
  background-size: cover;
}


.wrapper {
  margin: 0 auto;
  padding: 90px 16px 150px 16px;
  max-width: 1000px;
  text-align: center;
}

/* header */

.header {
  background-image: url(../img/main1-store.jpeg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.header ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 36px;
}

.header li {
  margin-right: 2.6rem;
  padding-top: 2.2rem;
  font-size: 1.4rem;
}

.header li a {
  color: white;
  font-weight: bold;
  transition: all  0.3s ease;
  filter: drop-shadow(1px 1px 2px #121212);
}

.header li a:hover {
  color: red;
}

/* menu */
#menu {
  margin: 20px 0;
}

.menu-img {
  background-image: url(../img/menu1-store.jpeg);
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-box {
  width: 50%;
  padding: 0 4.5%;
  border-right: 1px solid black;
  margin-top: 2.0rem;
}

.menu-box:nth-of-type(2) {
  border-right: none;
}

.menu-box dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.menu-box dt {
  width: 85%;
  border-bottom: 1px dotted black;
  margin-bottom: 2.7rem;
  text-align: left;
}

.menu-box dd {
  width: 15%;
  margin-top: 5px;
  padding-left: 15px;
}

.menu-style {
  margin-bottom: 55px;
}

/* about */
#about {
  margin-bottom: 20px;
}

.about-img {
  background-image: url(../img/about1-store.jpg);
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}



.about-box ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.about-box li {
  width: 50%;
  padding: 2%;
  text-align: left;
  line-height: 2;
}

#about .btn {
  width: 160px;
  height: 50px;
  line-height: 3.5;
  display: inline-block;
  color: #000;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1.4rem;
}

#about .btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#about .btn::before,
#about .btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}

#about .btn span::before,
#about .btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}

#about .btn::before,
#about .btn span::before {
  width: 2px;
  height: 50%;
}

#about .btn::after,
#about .btn span::after {
  width: 20%;
  height: 2px;
}

#about .btn:hover::before,
#about .btn span:hover::before {
  height: 100%;
}

#about .btn:hover::after,
#about .btn span:hover::after {
  width: 100%;
}


/* location */
#location {
  margin-bottom: 40px;
}

.location-img {
  background-image: url(../img/location1-store.jpeg);
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}

.location-map {
  margin-bottom: 20px;
  filter: grayscale(1);
}

.location-map iframe {
  width: 100%;
}

.location-infomation {
  text-align: left;
}

.location-infomation p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* footer */

.footer {
  text-align: center;
  padding: 10px 0;
  
}

@media screen and (max-width: 767px) {

/* レスポンシブ共通 */
  .logo-title {
    top: 34%;
    font-size: 2.6rem;
  }

  .part-title {
    font-size: 2.0rem;
    margin-bottom: 2.0rem;
  }


  .fixed-img {
    height: 94px;
    background-attachment: scroll;
    
  }

  .wrapper {
    padding: 30px 16px 60px 16px;
  }

  /* レスポンシブheader */

  .header ul {
    margin-right: 18px;
  }

  /* レスポンシブmenu */
  .menu-container {
    flex-direction: column;
  }

  .menu-box {
    width: 100%;
  }

  .menu-box:first-child {
    border-right: none;
  }

  .menu-box dl {
    margin-bottom: 10px;
  }

  .menu-style {
    margin-bottom: 10px;
  }

/* レスポンシブabout */
  
.about-box ul {
    flex-direction: column;
  }

  #about li {
    width: 100%;
  }

  #about .btn {
    margin-top: 30px;
  }

}